BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 0
ContinuationIndentWidth: 4
IndentCaseLabels: true
ReflowComments: true
SortIncludes: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
DerivePointerAlignment: false
AlignConsecutiveBitFields : true
AllowShortCaseLabelsOnASingleLine: true
